* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: #122231;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.piggy {
    display: flex;
    gap: 50px;
    align-items: center;
}

.head1 {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #f2f7f8;
}

.head2 {
    display: flex;
    gap: 10px;
}

.nav-1,
.nav-2 {
    text-decoration: none;
    font-weight: 545
}

.nav-1 {
    margin-right: 30px;
}

.nav-2 {
    margin-right: 15px;
}

.btn1 {
    color: #122231;
    background-color: #f2f7f8;
    border-radius: 10px;
    border: 1.5px solid #122231;
    padding: 20px;
    font-weight: 800;
}

.btn2 {
    color: white;
    background-color: #122231;
    border-radius: 10px;
    border: 1.5px solid #f2f7f8;
    padding: 20px;
    font-weight: 800;
}

.head3 {
    padding: 250px 40px;
    height: 100vh;
    background-color: #f2f7f8;
}

.head3>h1 {
    font-size: 47px;
}

.head3>p {
    font-size: 20px;
    line-height: 35px;
}

.btn3 {
    background-color: #0089ff;
    color: white;
    border-radius: 20px;
    padding: 10px 15px;
    font-weight: 550;
    margin-bottom: 20px;
}

.btn3:hover {
    background-color: #122231;
}

.btn4,
.btn5 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #122231;
    border-radius: 15px;
    padding: 15px;
    transition: all 0.2s ease;
    border: 1px solid white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    margin-inline: 5px;
}

.btn4:hover,
.btn5:hover {
    transform: translateY(-5px);
    background: black;
}

.download {
    color: white;
}

.sec1 {
    display: flex;
    background-color: #f2f7f8;
    height: 130vh;
}

.image-container {
    display: flex;
    position: absolute;
    right: 4.5%;
    top: 37%;
    animation: moveUpDown 5s ease-in-out infinite;
}

.frame1 {
    position: absolute;
    top: 87%;
    right: 2%;
    animation: moveUpDown 5s ease-in-out infinite;
}

.frame2 {
    position: absolute;
    top: 45%;
    right: 2%;
    animation: moveUpDown 5s ease-in-out infinite;
}

.frame3 {
    position: absolute;
    top: 75.5%;
    right: 33.6%;
    animation: moveUpDown 5s ease-in-out infinite;
}

.frame4 {
    position: absolute;
    top: 42%;
    right: 33%;
    animation: moveUpDown 5s ease-in-out infinite;
}

.frame5 {
    position: absolute;
    top: 117%;
    right: 2.3%;
    animation: moveUpDown 5s ease-in-out infinite;
}

.frame6 {
    position: absolute;
    top: 105%;
    right: 35%;
    animation: moveUpDown 5s ease-in-out infinite;
}

@keyframes moveUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-25px);
    }
}

.sec2 {
    background-color: #f2f7f8;
    display: flex;
    padding: 100px 50px;
    width: 100%;
    gap: 20px;
    height: 75vh;
}

.sec2>span>p {
    line-height: 25px;
}

.sec2>span>h3 {
    font-size: 16px;
    font-weight: 600;
}

.sec3 {
    background-color: #f2f7f8;
    height: 280vh;

}

.sec3>.savings>h1 {
    font-size: 50px;
}

.sec3>.savings>h2 {
    font-weight: 400;
    font-size: 22px;
}

.savings {
    text-align: center;
}

.grid-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 30px;
    padding: 55px 150px;
    justify-items: center;
}

.grid-item1>h1 {
    font-size: 33px;
    color: #003399;
}

.grid-item2>h1 {
    font-size: 33px;
    color: #3296ff;
}

.grid-item3>h1 {
    font-size: 33px;
    color: #069b40;

}

.grid-item4>h1 {
    font-size: 33px;
    color: #e5288e;

}

.grid-item5>h1 {
    font-size: 33px;
    color: #0c1825;
}

.grid-item6>h1 {
    font-size: 33px;
    color: #ff783c;
}

.p-text {
    font-size: 18px;
    color: #475462;
}

.grid-item1,
.grid-item2,
.grid-item3,
.grid-item4,
.grid-item5,
.grid-item6 {
    background-color: white;
    border-radius: 12px;
    border: none;
    padding: 50px 30px;
    width: 100%;
    height: 415px;
    overflow: hidden;
    position: relative;
    /* animation: colorChange 30s infinite; */
}

/* @keyframes colorChange {

    0%,
    20%,
    100% {
        background: white;
    }

    10% {
        background: var(--flash-color);
        color: white;

    }
}

.grid-item1:nth-child(1) {
    --flash-color: #0f60d6;
     animation-delay: 0s;
}

.grid-item2:nth-child(2) {
    --flash-color: #2295f2;
    animation-delay: 5s;
}

.grid-item3:nth-child(3) {
    --flash-color: #39c277;
    animation-delay: 10s;
}

.grid-item4:nth-child(4) {
    --flash-color: #e5489b;
    animation-delay: 15s;
}

.grid-item5:nth-child(5) {
    --flash-color: #0c1825;
    animation-delay: 20s;
}

.grid-item6:nth-child(6) {
    --flash-color: #ff783c;
    animation-delay: 25s;
} */

.grid-item1>h3 {
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    bottom: 20px;
    color: #003399;
}

.grid-item1>h3 i {
    color: #003399;
}

.grid-item2>h3 {
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    bottom: 20px;
    color: #3296ff;
}

.grid-item2>h3 i {
    color: #3296ff;
}

.grid-item3>h3 {
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    bottom: 20px;
    color: #069b40;
}

.grid-item3>h3 i {
    color: #069b40;
}

.grid-item4>h3 {
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    bottom: 20px;
    color: #e5288e;
}

.grid-item4>h3 i {
    color: #e5288e;
}

.grid-item5>h3 {
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    bottom: 20px;
    color: #0c1825;
}

.grid-item5>h3 i {
    color: #0c1825;
}

.grid-item6>h3 {
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    bottom: 20px;
    color: #ff783c;
}

.grid-item6>h3 i {
    color: #ff783c;
}

.iphone1 {
    transition: transform 0.6s ease-in-out;
    transform: translate(450px, 70%);
}

.grid-item1:hover .iphone1 {
    transform: translate(180px, 6px);
}

.grid-item1:hover,
.grid-item1:hover h1,
.grid-item1:hover h3,
.grid-item1:hover p,
.grid-item1:hover h3 i {
    background-color: #0f60d6;
    color: white;
}

.iphone2 {
    transition: transform 0.6s ease-in-out;
    transform: translate(450px, 70%);
}

.grid-item2:hover .iphone2 {
    transform: translate(180px, 6px);
}

.grid-item2:hover,
.grid-item2:hover h1,
.grid-item2:hover h3,
.grid-item2:hover p,
.grid-item2:hover h3 i {
    background-color: #3296ff;
    color: white;
}

.iphone3 {
    transition: transform 0.6s ease-in-out;
    transform: translate(450px, 70%);
}

.grid-item3:hover .iphone3 {
    transform: translate(180px, 6px);
}

.grid-item3:hover,
.grid-item3:hover h1,
.grid-item3:hover h3,
.grid-item3:hover p,
.grid-item3:hover h3 i {
    background-color: #069b40;
    color: white;
}

.iphone4 {
    transition: transform 0.6s ease-in-out;
    transform: translate(450px, 70%);
}

.grid-item4:hover .iphone4 {
    transform: translate(180px, 6px);
}

.grid-item4:hover,
.grid-item4:hover h1,
.grid-item4:hover h3,
.grid-item4:hover p,
.grid-item4:hover h3 i {
    background-color: #e5288e;
    color: white;
}

.iphone5 {
    transition: transform 0.6s ease-in-out;
    transform: translate(450px, 70%);
}

.grid-item5:hover .iphone5 {
    transform: translate(180px, 28px);
}

.grid-item5:hover,
.grid-item5:hover h1,
.grid-item5:hover h3,
.grid-item5:hover p,
.grid-item5:hover h3 i {
    background-color: #0c1825;
    color: white;
}

.iphone6 {
    transition: transform 0.6s ease-in-out;
    transform: translate(450px, 70%);
}

.grid-item6:hover .iphone6 {
    transform: translate(180px, 28px);
}

.grid-item6:hover,
.grid-item6:hover h1,
.grid-item6:hover h3,
.grid-item6:hover p,
.grid-item6:hover h3 i {
    background-color: #ff783c;
    color: white;
}

.sec4 {
    background-color: white;
    height: 190vh;

}

.sec4>.invest>h1 {
    font-size: 50px;
}

.sec4>.invest>h2 {
    font-weight: 400;
    font-size: 22px;
}

.invest {
    padding-top: 180px;
    text-align: center;
}

.return {
    background-color: #7913e5;
    color: white;
    border-radius: 12px;
    border: none;
    margin: 60px 50px;
    padding: 50px 30px;
    width: 90%;
    height: 500px;
    /* overflow: hidden; */
    position: relative;
}

.return>h1 {
    font-weight: 700px;
    font-size: 33px;
    color: white;
}

.return>p {
    font-size: 18px;
    color: white;
}

.return>h3 {
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    color: white;
    bottom: 20px;
    cursor: pointer;
}

.return>h3 i {
    color: white;
}

.return>h3:hover {
    text-decoration: underline
}

.iphone7 {
    position: absolute;
    right: 5%;
    bottom: 0.2%;
}


.sec5 {
    background-color: #f2f7f8;
    height: 150vh;

}

.sec5>.saver>h1 {
    font-size: 50px;
}

.sec5>.saver>p {
    font-weight: 400;
    font-size: 22px;
}

.saver {
    padding: 140px 0px 70px;
    text-align: center;

}

.testimony {
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin: 0px 250px;
    overflow: hidden;
}

.testimony>iframe {
    border-radius: 15px;

}

.sec6 {
    background-color: #f2f7f8;
    display: flex;
    flex-direction: row;
    padding: 100px 50px;
    width: 100%;
    gap: 60px;
    height: 120vh;
}

.btn6,
.btn7 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #f2f7f8;
    border-radius: 15px;
    padding: 10px 15px;
    transition: all 0.2s ease;
    border: 1px solid #cecfcf;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    margin-inline: 5px;
}

.btn6:hover,
.btn7:hover {
    transform: translateY(-5px);
}

.join {
    margin-top: 180px;
}

.sec7 {
    background-color: #f2f7f8;
    height: 40vh;

}

.sec7>h1 {
    text-align: center;
}

.feature {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.foot{
    background-color: #f2f7f8;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}
.products{
    font-size: 14px;
    font-weight: 250;
}